.muni {
  font-size: 2.4rem;
  list-style-type: none;
  margin-top: 86px;
  padding-left: 2px;
}
.muni li {
  position: relative;
}
.muni img {
  position: relative;
  top: 13px;
}
.routeName {
  position: absolute;
  top: 9px;
  left: 8px;
  color: #000;
  font-weight: bold;
}
.times {
  position: relative;
  left: 19px;
}
