.muni {
  font-size: 2.4rem;
  list-style-type: none;
  margin-top: 86px;
  padding-left: 2px;
}
.muni li {
  position: relative;
  padding-bottom: 9px;
}
.muni img {
  position: relative;
  top: 13px;
}
.routeName {
  position: absolute;
  top: 18px;
  left: 0;
  color: #000;
  font-weight: bold;
  text-align: center;
  width: 40px;
}
.times {
  position: relative;
  left: 15px;
}
