/* flow like a normal webpage for development */
html {
  cursor: auto;
  overflow: scroll;
}

body {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  margin: 5px 0px 5px 10px;
}

.date {
  color: #fff;
}
