/* "!important" rules in this file override styles set in FullCalendar container
 * elements.
 */
.calendar {
  margin-top: 47px;
}
.calendar, .calendar tr, .calendar th, .calendar td {
  border: 0;
  border-spacing: 0;
}
.label {
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 2.5rem;
  padding: 30px 0 5px 0 !important;
  text-align: left !important;
}
.time {
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 1px 1em 1px 1px !important;
}
.title {
  padding-left: 0;
  padding-right: 0;
  white-space: nowrap;
  font-size: 2rem;
  line-height: 2.5rem;
}
.none {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-top: 70px;
  color: #666;
}