<div class="layout">
  <div class="summary bright small">{{summary}}</div>

  {{!-- current temperatures --}}
  <div class="currentTemperatures">
    <div class="lowHigh">
      &nbsp;{{low}}°
      <div>low</div>
    </div>
    <div class="temperatureCircle">{{temperature}}</div>
    <div class="lowHigh">
      &nbsp;{{high}}°
      <div>high</div>
    </div>
  </div>


  {{!-- current condition details --}}
  <div class="conditionDetails normal small">
    <div>
      <span class="icon"><img src="modules/hurst/ambientweather/public/icons/Wind.svg"></span>
      {{windSpeed}} mph
    </div>
    <div>
      <span class="icon"><img src="modules/hurst/ambientweather/public/icons/Umbrella.svg"></span>
      {{precipProbability}}%
    </div>
    <div>
      <span class="icon"><img src="modules/hurst/ambientweather/public/icons/Cloud.svg"></span>
      {{cloudCover}}%
    </div>
    <div>
      <span class="icon"><img src="modules/hurst/ambientweather/public/icons/Sun.svg"></span>
      {{uvIndex}}
    </div>
  </div>

  {{!-- sunrise/sunset times, AQI --}}
  {{#if aqi includeZero=true}}
  <div class="suntimeContainer normal small">
    <span class="suntime"><img src="modules/hurst/ambientweather/public/icons/Sunrise.svg"></span>
    {{sunrise}} • {{sunset}}

    <span class="aqiContainer"><span class="aqi">AQI</span> {{aqi}}</span>
  </div>
  {{/if}}

  {{!-- short forecast --}}
  <div class="shortForecast normal small">
  {{#each shortForecast}}
  <span style="float:{{#if @first}}left{{else}}right{{/if}}">
    {{day}}
    <img src="{{iconUrl}}" width="35" height="35">
    {{low}}° {{high}}°
  </span>
  {{/each}}
  </div>


  {{!-- weather alerts --}}
  {{#if alerts}}
  <div class="alerts small">
    <ul>
      {{#each alerts}}
        <li>{{title}}</li>
      {{/each}}
    </ul>
  </div>
  {{/if}}

  {{!-- forecast summaries --}}
  {{#if hourSummary}}
  <div class="forecastSummary sectionSep">
    <div class="forecastSummaryTitle small">next hour</div>
    <div class="forecastSummaryText">{{hourSummary}}</div>
  </div>
  <div class="forecastSummary">
    <div class="forecastSummaryTitle small">next 24 hours</div>
    <div class="forecastSummaryText">{{daySummary}}</div>
  </div>
  <div class="forecastSummary">
    <div class="forecastSummaryTitle small">next 7 days</div>
    <div class="forecastSummaryText">{{weekSummary}}</div>
  </div>
  {{/if}}

  {{!-- precipitation, temperature, and wind chart --}}
  {{#if chart}}
  <div class="chartContainer sectionSep">
    <img src="modules/hurst/ambientweather/public/icons/tempIcon.svg" class="tempIcon">
    <img src="modules/hurst/ambientweather/public/icons/windIcon.svg" class="windIcon">
    <img src="modules/hurst/ambientweather/public/icons/precipIcon.svg" class="precipIcon">
    <div id="chart">
    </div>
  </div>
  {{/if}}

  {{!-- weekly forecast --}}
  {{#if dailyForecasts}}
  <div class="weekly sectionSep">
    <table>
    {{#each dailyForecasts}}
      <tr style="opacity: {{opacity}}">
        <td class="day">{{day}}</td>
        <td class="wIcon"><img src="{{iconUrl}}"></td>
        <td class="range" style="padding-left:{{barOffset}}px">
          {{low}}°
          <div class="temperatureBar" style="width:{{barWidth}}px"></div>
          {{high}}°
        </td>
      </tr>
    {{/each}}
    </table>
  </div>
  {{/if}}

</div>
