<style>
  .layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .layout > div {
    margin-bottom: 20px;
  }

  .currentTemperatures {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .currentTemperatures > div {
    margin: 0 20px;
    text-align: center;
  }
  .temperatureCircle {
    width: 118px;
    height: 118px;
    border-radius: 71px;
    border: 6px solid #000;
    font-size: 65px;
    color: #000;
    line-height: 118px;
    text-align: center;
    background: #fff;
    box-shadow: 0 0 0 2px #fff;
  }
  .lowHigh {
    line-height: 1em;
    text-transform: uppercase;
  }

  .conditionDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .conditionDetails > div {
    text-align: center;
    padding-left: 45px;
    padding-right: 30px;
  }
  .icon {
    position: relative;
  }
  .icon > img {
    -webkit-filter: invert(1);
    filter: invert(1);
    height: 50px;
    width: 50px;
    position: absolute;
    margin: -13px 0 0 -45px;
  }

  .alerts {
    text-align: left;
    width: 315px;
  }
  .alerts li {
    list-style-type: none;
    color: #f88;
    margin-bottom: 1em;
  }
  .alerts img {
    position: absolute;
    margin-left: -40px;
  }

  .precipitationChartContainer {
    position: relative;
    width: 300px;
    height: 100px;
  }
  .precipitationChartContainer .umbrella {
    position: absolute;
    top: -10px;
    right: -12px;
    width: 50px;
    height: 50px;
    -webkit-filter: invert(1);
    filter: invert(1);
  }
  #precipitationChart {
    width: 100%;
    height: 100%;
  }

  .forecastSummary {
    width: 315px;
  }
  .forecastSummaryTitle {
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    color: #fff;
  }
  .forecastSummaryText {
    font-size: 0.75em;
    text-align: left;
    line-height: 1.5em;
  }

  .weekly {
    width: 315px;
  }
  .weekly td {
    font-size: 0.5em;
    padding: 0;
    line-height: 28px;
  }
  .weekly .day {
    width: 30px;
  }
  .weekly .wIcon {
    text-align: left;
    width: 30px;
    position: relative;
  }
  .weekly .wIcon img {
    -webkit-filter: invert(1);
    filter: invert(1);
    width: 35px;
    height: 35px;
    position: absolute;
    top: -3px;
    left: -4px;
  }
  .weekly .range {
    text-align: left;
  }
  .temperatureBar {
    background-color: white;
    height: 13px;
    display: inline-block;
    border-radius: 6px;
  }
</style>

<div class="layout">
  <div class="normal medium">{{summary}}</div>

  {{!-- current temperatures --}}
  <div class="currentTemperatures">
    <div class="lowHigh">
      &nbsp;{{low}}°
      <div>low</div>
    </div>
    <div class="temperatureCircle">{{temperature}}</div>
    <div class="lowHigh">
      &nbsp;{{high}}°
      <div>high</div>
    </div>
  </div>

  {{!-- current condition details --}}
  <div class="conditionDetails normal small">
    <div>
      <span class="icon"><img src="modules/hurst/weather/public/icons/Wind.svg"></span>
      {{windSpeed}} mph
    </div>
    <div>
      <span class="icon"><img src="modules/hurst/weather/public/icons/Umbrella.svg"></span>
      {{precipProbability}}%
    </div>
    <div>
      <span class="icon"><img src="modules/hurst/weather/public/icons/Cloud.svg"></span>
      {{cloudCover}}%
    </div>
  </div>

  {{!-- weather alerts --}}
  {{#if alerts}}
  <div class="alerts small">
    <ul>
      {{#each alerts}}
        <li>
          <img src="modules/hurst/weather/public/icons/warning.svg">
          {{title}}
        </li>
      {{/each}}
    </ul>
  </div>
  {{/if}}

  {{!-- precipitation chart --}}
  {{#if precipitationProbabilities}}
  <div class="precipitationChartContainer">
    <img src="modules/hurst/weather/public/icons/Umbrella.svg" class="umbrella">
    <div id="precipitationChart">
    </div>
  </div>
  {{/if}}

  {{!-- forecast summaries --}}
  {{#if hourSummary}}
  <div class="forecastSummary" style="margin-top: 50px">
    <div class="forecastSummaryTitle small">next hour</div>
    <div class="forecastSummaryText">{{hourSummary}}</div>
  </div>
  <div class="forecastSummary">
    <div class="forecastSummaryTitle small">next 24 hours</div>
    <div class="forecastSummaryText">{{daySummary}}</div>
  </div>
  <div class="forecastSummary">
    <div class="forecastSummaryTitle small">next 7 days</div>
    <div class="forecastSummaryText">{{weekSummary}}</div>
  </div>
  {{/if}}

  {{!-- weekly forecast --}}
  {{#if dailyForecasts}}
  <div class="weekly">
    <table>
    {{#each dailyForecasts}}
      <tr style="opacity: {{opacity}}">
        <td class="day">{{day}}</td>
        <td class="wIcon"><img src="{{iconUrl}}"></td>
        <td class="range" style="padding-left:{{barOffset}}px">
          {{low}}°
          <div class="temperatureBar" style="width:{{barWidth}}px"></div>
          {{high}}°
        </td>
      </tr>
    {{/each}}
    </table>
  </div>
  {{/if}}

</div>
