:root {
  font-size: 62.5%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 5px 10px;
  -webkit-font-smoothing: antialiased;
}