.summary {
  max-width: 325px;
  text-align: center;
  font-size: 2rem;
  line-height: 2.5rem;
}

.layout {
  position: absolute;
  top: 5px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.layout > div {
  margin-bottom: 20px;
}

.currentTemperatures {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.currentTemperatures > div {
  margin: 0 20px;
  text-align: center;
}
.temperatureCircle {
  width: 118px;
  height: 118px;
  border-radius: 71px;
  border: 6px solid #000;
  font-size: 6.5rem;
  color: #000;
  line-height: 12rem;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 0 2px #fff;
}
.lowHigh {
  color: #fff;
  font-size: 3.2rem;
  line-height: 3rem;
  text-transform: uppercase;
}

.conditionDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  line-height: 2.5rem;
}
.conditionDetails > div {
  color: #fff;
  text-align: center;
  padding-left: 40px;
  padding-right: 15px;
}
.icon {
  position: relative;
}
.icon > img {
  -webkit-filter: invert(1);
  filter: invert(1);
  height: 50px;
  width: 50px;
  position: absolute;
  margin: -13px 0 0 -45px;
}

.suntimeContainer {
  padding-left: 14px;
  color: #fff;
  font-size: 2rem;
  line-height: 2.5rem;
}
.suntime {
  position: relative;
}
.suntime > img {
  position: absolute;
  height: 50px;
  width: 50px;
  top: -14px;
  left: -45px;
}
.aqiContainer {
  padding-left: 28px;
}
.aqi {
  border: 1px solid white;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 700;
  left: -2px;
  padding: 1px 5px;
  position: relative;
  top: -2px;
}
.aqihazardous {
  color: maroon;
}
.aqihazardous .aqi {
  border-color: maroon;
}
.aqivery-unhealthy {
  color: purple;
}
.aqivery-unhealthy .aqi {
  border-color: purple;
}
.aqiunhealthy {
  color: red;
}
.aqiunhealthy .aqi {
  border-color: red;
}
.aqiunhealthy-for-sensitive-groups {
  color: orange;
}
.aqiunhealthy-for-sensitive-groups .aqi {
  border-color: orange;
}
.aqimoderate {
  color: #ebdb34;
}
.aqimoderate .aqi {
  border-color: #ebdb34;
}
.dailyRain {
  position: relative;
  margin-left: 55px;
}
.dailyRain > img {
  position: absolute;
  height: 50px;
  width: 50px;
  top: -14px;
  left: -44px;
}


.shortForecast {
  position: relative;
  width: 290px;
  top: -15px;
  color: #fff;
  font-size: 2rem;
  line-height: 2.5rem;
}
.shortForecast img {
  -webkit-filter: invert(1);
  filter: invert(1);
  position: relative;
  top: 12px;
  left: -1px;
}

.alerts {
  text-align: center;
  width: 315px;
  position: relative;
  left: -23px;
  font-size: 2rem;
  line-height: 2.5rem;
}
.alerts ul {
  margin: 0;
}
.alerts li {
  list-style-type: none;
  color: #f88;
  margin-bottom: 1em;
}