.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.layout > div {
  margin-bottom: 20px;
}

.currentTemperatures {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.currentTemperatures > div {
  margin: 0 20px;
  text-align: center;
}
.temperatureCircle {
  width: 118px;
  height: 118px;
  border-radius: 71px;
  border: 6px solid #000;
  font-size: 65px;
  color: #000;
  line-height: 118px;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 0 2px #fff;
}
.lowHigh {
  line-height: 30px;
  text-transform: uppercase;
}

.conditionDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.conditionDetails > div {
  color: #fff;
  text-align: center;
  padding-left: 45px;
  padding-right: 30px;
}
.icon {
  position: relative;
}
.icon > img {
  -webkit-filter: invert(1);
  filter: invert(1);
  height: 50px;
  width: 50px;
  position: absolute;
  margin: -13px 0 0 -45px;
}

.suntimeContainer {
  padding-left: 14px;
  color: #fff;
}
.suntime {
  position: relative;
}
.suntime > img {
  position: absolute;
  height: 50px;
  width: 50px;
  top: -13px;
  left: -45px;
}

.shortForecast {
  position: relative;
  width: 290px;
  top: -15px;
  color: #fff;
}
.shortForecast img {
  -webkit-filter: invert(1);
  filter: invert(1);
  position: relative;
  top: 12px;
  left: -1px;
}

.alerts {
  text-align: left;
  width: 315px;
}
.alerts li {
  list-style-type: none;
  color: #f88;
  margin-bottom: 1em;
}
.alerts img {
  position: absolute;
  margin-left: -40px;
}

.chartContainer {
  position: relative;
  width: 270px;
  height: 150px;
  left: -20px;
}
.chartContainer .tempIcon {
  position: absolute;
  top: -12px;
  right: -45px;
  width: 50px;
  height: 50px;
}
.chartContainer .windIcon {
  position: absolute;
  top: 15px;
  right: -45px;
  width: 50px;
  height: 50px;
}
.chartContainer .precipIcon {
  position: absolute;
  top: 44px;
  right: -45px;
  width: 50px;
  height: 50px;
}
#chart {
  width: 270px;
  height: 150px;
}

.forecastSummary {
  width: 315px;
}
.forecastSummaryTitle {
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
  color: #fff;
}
.forecastSummaryText {
  font-size: 20px;
  text-align: left;
  line-height: 1.5em;
}

.weekly {
  width: 315px;
}
.weekly td {
  font-size: 0.5em;
  padding: 0;
  line-height: 28px;
}
.weekly .day {
  width: 30px;
}
.weekly .wIcon {
  text-align: left;
  width: 30px;
  position: relative;
}
.weekly .wIcon img {
  -webkit-filter: invert(1);
  filter: invert(1);
  width: 35px;
  height: 35px;
  position: absolute;
  top: -3px;
  left: -4px;
}
.weekly .range {
  text-align: left;
}
.temperatureBar {
  background-color: white;
  height: 13px;
  display: inline-block;
  border-radius: 6px;
}

.sectionSep {
  margin-top: 40px;
}
