.private .hcalendar {
  display: none;
}
.private .memo {
  display: none;
}
.private .weasley {
  display: none;
}

.weasley ul {
  margin-top: 100px;
  padding: 0;
}
.weasley li {
  list-style-type: none;
  font-size: 24px;
}
